.file{
    width: 98px;
    height: 98px;
    border-radius: 100%;
    background-color: gray;
}

.inpuField{
border: 1px solid #c1c1c1;
border-radius: 5px;
width: 80%;
height: 40px;
outline: navy;
}
.inpuField::placeholder{
font-weight: 400;
font-size: 18px;
color: #a2a2a2;
}

.lableText{
font-weight: 400;
font-size: 18px;
color: #5d607d;
}

.message{
    width: 80%;
    height: 100px;
    outline: none;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
}

.addDoc{
font-weight: 400;
font-size: 18px;
line-height: 239%;
color: #fff;
border-radius: 47px;
width: 155px;
height: 50px;
background: #5f6fff;
letter-spacing: 1px;
}